<table class="grid">

<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>

<tr><td><a href="20220313-202436-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220224</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220313-202436-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220428-095037-CodeSystem-asp-liste.html">Liste der humanen Arzneispezialitäten gelistet nach PZN 20220420</a></td><td><a onclick="createDiff('CodeSystem-asp-liste.html', '20220428-095037-CodeSystem-asp-liste.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>