<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220926-124108-ValueSet-test-versioning.html">1.0.10a</a></td><td><a onclick="createDiff('ValueSet-test-versioning.html', '20220926-124108-ValueSet-test-versioning.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20221003-091205-ValueSet-test-versioning.html">1.0.11</a></td><td><a onclick="createDiff('ValueSet-test-versioning.html', '20221003-091205-ValueSet-test-versioning.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>